<div class='row' id='content'>
  <p class='col-md-12'>
    In 2009, our mom, Karen Danielson, was diagnosed with Stage 3B Inflammatory Breast Cancer (IBC). IBC is not detectable in mammograms, so usually by the time it is diagnosed, as with our mom, it has already spread. She fought long and hard, never giving up faith, never giving up hope. We originally started the golf tournament to support alternative treatments outside of the country for our mother.  Unfortunately, she lost her battle with cancer in September 2011.
  </p>
  <p class='col-md-12'>
    We made a promise to her that we would run the tournament no matter what happened for as long as we could to support a cause close to her heart. This is our eighth year and we are hoping that it’s our biggest.
  </p>
  <!--
  <p class='col-md-12'>
    Mom was an unbelievably loving and caring woman. Always there to lend a hand, flash a smile, say the right words, or just give you a warm hug. She always knew what to do and when to do it.  Our parents were foster parents and our mom had a strong passion to help kids less fortunate. We are very proud, and honored to have a partnership with the Shiloh House in which all the funds we raise go to.
  </p>
  -->
  <p class='col-md-12'>
  Mom was an unbelievably loving and caring woman. Always there to lend a hand, flash a smile, say the right words, or just give you a warm hug. She always knew what to do and when to do it. 
  </p>

  <p class='col-md-12'>
  We are proud to honor our Mom by supporting Miles "Rampage" Taylor. He was born with a very rare disease called Menkes, a copper deficiency that affects 1 per 50,000 to 100,000 live births in the United States, with fewer than 100 cases per year. Most affected children pass by 3 years of age, but "Rampage" just celebrated his 6th Birthday! We are so very proud and honored to be a part of Miles fight and to support the Taylors. To learn more about Miles, his family and his <i><b>amazing</b></i> story please visit <a href='http://milesformenkes.com/'>MilesForMenkes.com.</a>
  </p>
  <!--
  <p class='col-md-12'>
    The Shiloh House is a 501 (C) (3) that offers both residential and non-residential treatment for the treatment of male and female youth. They are greatly involved in foster care and they also give back and help the community.
  </p>
  -->
  <p class='col-md-12'>
    To learn more about Miles for Menkes please visit
    <a href='http://milesformenkes.com' title='Miles for Menkes'>
      MilesForMenkes.com
    </a>
  </p>
  <p class='col-md-12'>
    Thank you for your support and for keeping our mom’s legacy alive and strong!
  </p>
</div>
