<div class='row' id='welcome'>
  <div class='col-sm-7'>
    Please join us for the
    <strong>
      5th Annual Caring for Karen Sue Golf Classic
    </strong>
    on September 13! A four man best ball-scramble type tournament. There will be competitions for longest drive, closest to pin, and longest putt. We will have lunch after the round; then we will have a raffle and silent auction. If you don’t want to play you can join us for lunch afterwards. Lunch will be BBQ chicken and ribs.
    <div class='row'>
      <div align='center' class='col-md-12 col-sm-12'>
        <a href='/join' target='_top'>
          <button class='btn btn-lg btn-success' style='margin: 20px 0' type='button'>
            Come Out and Join Us!
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class='col-sm-4 col-sm-offset-1 well' id='golf-course'>
    <div class='col-md-12'>
      <strong>
        Applewood Golf Course
      </strong>
    </div>
    <div class='col-md-12'>
      14001 W. 32nd Avenue
    </div>
    <div class='col-md-12'>
      Golden, CO 80401
    </div>
    <div class='col-md-12'>
      <a href='https://maps.google.com/maps?q=Applewood+Golf+Course,+W+32nd+Ave,+Golden,+CO&amp;hl=en&amp;ll=39.76489,-105.156605&amp;spn=0.010177,0.020084&amp;sll=39.762611,-105.157246&amp;sspn=0.010177,0.020084&amp;oq=apple14001+W+32nd+Ave,+Golden,+CO&amp;t=m&amp;z=16&amp;iwloc=A' target='_blank' title='View on Google Maps'>View on Google Maps</a>
    </div>
    <div class='col-md-12 margin-top'>
      <strong>
        Saturday, Sept 13, 2014
      </strong>
    </div>
    <div class='col-md-12'>
      7:30 am Shotgun Start
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <h5>
      Sponsors
    </h5>
  </div>
  <div class='col-sm-4 sponsor-light well'>
    <a href='http://www.applewoodgc.com/' title='Applewood Golf Course'>
      <img height='85' src='/images/sponsor-applewood-logo.png'>
      <br>
      Applewood Golf Course
    </a>
  </div>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://www.vistaapplewood.com/' title='The Vista at Applewood Golf Course'>
      <img height='85' src='/images/sponsor-vista-logo.png'>
      <br>
      The Vista at Applewood Golf Course
    </a>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://www.longmontford.com/' title='Longmont Ford Dealer'>
      <img height='85' src='/images/longmont-ford-logo.jpg'>
      <br>
      Longmont Ford Dealer
    </a>
  </div>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://milehighsports.com/radio/' title='Mile High Sports'>
      <img height='85' src='/images/mile-high-sports-logo.jpg'>
      <br>
      Mile High Sports
    </a>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://milehighsports.com/radio/' title='Mile High Sports'>
      <img height='85' src='/images/mile-high-sports-logo-2.jpg'>
      <br>
      Mile High Sports
    </a>
  </div>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://hwhouston.com' title='H.W. Houston Construction Co.'>
      <img height='85' src='/images/hw-houston.jpg'>
      <br>
      H.W. Houston Construction Co.
    </a>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://www.awardclassicsengraving.com/' title='Award Classic Engraving'>
      <img height='85' src='/images/award-classic-engraving-logo.jpg'>
      <br>
      Award Classic Engraving
    </a>
  </div>
  <div class='col-sm-4 sponsor-white well'>
    <a href='http://www.efirstbank.com/' title='First Bank'>
      <img height='85' src='/images/first-bank-logo.png'>
      <br>
      First Bank
    </a>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <p>
      Do you have questions or comments?
    </p>
    <p>
      Contact
      <a class='contact' href='mailto:daveydan21@yahoo.com?subject=Caring+For+Karen+Sue' title='Email Dave'>Dave Danielson</a>
      or
      <a class='contact' href='mailto:kandi3109@yahoo.com?subject=Caring+For+Karen+Sue' title='Email Kandi'>Kandi O'Connor</a>
    </p>
  </div>
</div>
