#content
  %p
    Please join us for the 5th Annual Caring for
    %strong
      Karen Sue Golf Classic!
    A four man best ball-scramble type tournament. There will be competitions for longest drive, closest to pin, and longest putt. We will have lunch after the round; then we will have a raffle and silent auction. If you don’t want to play you can join us for lunch afterwards. Lunch will be BBQ chicken and ribs.

#location
  %p
    %strong
      Applewood Golf Course
    14001 W. 32nd Avenue
    Golden, CO 80401
    %a{ :href => "https://maps.google.com/maps?q=14001+W+32nd+Ave,+Golden,+CO&hl=en&sll=40.365277,-82.669252&sspn=5.164143,10.283203&oq=14001+W.+32nd+Ave.&hnear=14001+W+32nd+Ave,+Golden,+Colorado+80401&t=m&z=16", :title => "View on Google Maps" } View Map

#time
  %p
    %strong
      Saturday, September 13, 2014
    7:30 am Shotgun Start

#registration
  #register
    Registering to Play &mdash; $100 per player
  #sponsor
    Sponsoring a Hole &mdash; Starting at $200 per hole
  #lunch
    Joining us for lunch $25
  #prizes
    Donating prizes for raffle/silent auction
  #donations
    Making a Donation
  #deadline
    %strong
      Deadline: August 16, 2014

#sponsorship
  %strong
    Sponsorship Levels
  #par
    Par: $500 (1 foursome and 1 Hole Sponsor)
  #birdie
    Birdie: $600 (1 foursome and 2 Hole Sponsor)
  #eagle
    Eagle: $750 (1 foursome, 2 Hole Sponsors, and logo and name on banner and website.)
  #hole-in-one
    Hole in One (Key event sponsor) : $2,000 (2 foursomes, 2 Hole Sponsors and logo and name on banner and website.)

#contact
  .name
    Dave Danielson
  720-329-7782
  %a{ :href => "mailto:daveydan21@yahoo.com?subject=Caring+For+Karen+Sue", :title=> "Email Dave" } daveydan21@yahoo.com
  .name
    Kandi O’Connor
  513-910-4205
  %a{ :href => "mailto:kandi3109@yahoo.com?subject=Caring+For+Karen+Sue", :title=> "Email Kandi" } kandi3109@yahoo.com
  