#welcome.row
  %p.col-md-12
    Please join us for the 5th Annual Caring for
    %strong
      Karen Sue Golf Classic!
    A four man best ball-scramble type tournament. There will be competitions for longest drive, closest to pin, and longest putt. We will have lunch after the round; then we will have a raffle and silent auction. If you don’t want to play you can join us for lunch afterwards. Lunch will be BBQ chicken and ribs.

#location.row
  %p.col-md-12
    %strong
      Applewood Golf Course
    14001 W. 32nd Avenue
    Golden, CO 80401
    %a{ :href => "https://maps.google.com/maps?q=14001+W+32nd+Ave,+Golden,+CO&hl=en&sll=40.365277,-82.669252&sspn=5.164143,10.283203&oq=14001+W.+32nd+Ave.&hnear=14001+W+32nd+Ave,+Golden,+Colorado+80401&t=m&z=16", :title => "View on Google Maps", :target => "_blank" } View Map

#time.row
  %p.col-md-12
    %strong
      Saturday, September 13, 2014
    7:30 am Shotgun Start

#registration.row
  #register.col-md-12
    Registering to Play &mdash; $100 per player
  #sponsor.col-md-12
    Sponsoring a Hole &mdash; Starting at $200 per hole
  #lunch.col-md-12
    Joining us for lunch $25
  #prizes.col-md-12
    Donating prizes for raffle/silent auction
  #donations.col-md-12
    Making a Donation
  #deadline.col-md-12
    %strong
      Deadline: August 16, 2014

#sponsorship
  .row
    .col-md-12
      %strong
        Sponsorship Levels
    #par.col-md-12
      Par: $500 (1 foursome and 1 Hole Sponsor)
    #birdie.col-md-12
      Birdie: $600 (1 foursome and 2 Hole Sponsor)
    #eagle.col-md-12
      Eagle: $750 (1 foursome, 2 Hole Sponsors, and logo and name on banner and website.)
    #hole-in-one.col-md-12
      Hole in One (Key event sponsor) : $2,000 (2 foursomes, 2 Hole Sponsors and logo and name on banner and website.)

.contact.row
  .col-md-4
    Dave Danielson
  .col-md-4
    720-329-7782
  .col-md-4
    %a{ :href => "mailto:daveydan21@yahoo.com?subject=Caring+For+Karen+Sue", :title=> "Email Dave" } daveydan21@yahoo.com
.contact.row
  .col-md-4
    Kandi O’Connor
  .col-md-4
    513-910-4205
  .col-md-4
    %a{ :href => "mailto:kandi3109@yahoo.com?subject=Caring+For+Karen+Sue", :title=> "Email Kandi" } kandi3109@yahoo.com
  