#welcome.row
  .col-md-8
    Please join us for the 
    %strong
      5th Annual Caring for Karen Sue Golf Classic
    on September 13! A four man best ball-scramble type tournament. There will be competitions for longest drive, closest to pin, and longest putt. We will have lunch after the round; then we will have a raffle and silent auction. If you don’t want to play you can join us for lunch afterwards. Lunch will be BBQ chicken and ribs.
    .row
      .col-md-12.col-sm-12{:align=>"center"}
        %a{:href=>"/join",:target=>"_top"}
          %button.btn.btn-lg.btn-success{:type=>"button",:style=>"margin: 20px 0"}
            Come Out and Join Us!
  .col-md-3.col-md-offset-1.well#golf-course
    -#.col-md-12.col-xs-12
      -#%a{:href=>"http://www.applewoodgc.com/",:target=>"_blank"}
        -#%img.pull-left.media-object{:src => "images/sponsor-applewood-logo.png", :alt => "Applewood Golf Course", :width=>"180", :height=> "85" }
    .col-md-12
      %strong
        Applewood Golf Course
    .col-md-12
      14001 W. 32nd Avenue
    .col-md-12
      Golden, CO 80401
    .col-md-12
      %a{ :href => "https://maps.google.com/maps?q=Applewood+Golf+Course,+W+32nd+Ave,+Golden,+CO&hl=en&ll=39.76489,-105.156605&spn=0.010177,0.020084&sll=39.762611,-105.157246&sspn=0.010177,0.020084&oq=apple14001+W+32nd+Ave,+Golden,+CO&t=m&z=16&iwloc=A", :title => "View on Google Maps", :target => "_blank" } View on Google Maps
    .col-md-12.margin-top
      %strong
        Saturday, September 13, 2014
    .col-md-12
      7:30 am Shotgun Start

.contact.row
  .col-md-4
    Dave Danielson
  .col-md-4
    720-329-7782
  .col-md-4
    %a{ :href => "mailto:daveydan21@yahoo.com?subject=Caring+For+Karen+Sue", :title=> "Email Dave" } daveydan21@yahoo.com
.contact.row
  .col-md-4
    Kandi O’Connor
  .col-md-4
    513-910-4205
  .col-md-4
    %a{ :href => "mailto:kandi3109@yahoo.com?subject=Caring+For+Karen+Sue", :title=> "Email Kandi" } kandi3109@yahoo.com
  