.row
  .left.col-sm-6
    .col-sm-12
      How would you like to participate?
    .col-sm-12
      .dropdown{:onclick=>"$('.dropdown-toggle').dropdown()"}
        %button.btn.dropdown-toggle#dropdownMenuJoin{:type=>"button",:data=>{:toggle=>"dropdown"}}
          %span.inner-content
            Register to Play
          %span.caret
        %ul.dropdown-menu#ddm-join-type{:role=>"menu",:aria=>{:labelledby=>"dropdownMenuJoin"}}
          %li.active#ddm-join-register{:role=>"presentation"}
            %a{:role=>"menuitem",:tabindex=>"-1",:href=>"#", :onclick=>"selectMenu('register')"} Register to Play
          %li#ddm-join-sponsor{:role=>"presentation"}
            %a{:role=>"menuitem",:tabindex=>"-1",:href=>"#", :onclick=>"selectMenu('sponsor')"} Sponsor a Hole
          -#%li{:role=>"divider"}
          %li#ddm-join-lunch{:role=>"presentation"}
            %a{:role=>"menuitem",:tabindex=>"-1",:href=>"#", :onclick=>"selectMenu('lunch')"} Join us for Lunch
    #register-form.join-form.col-sm-12
      %select.form-control.input-xlarge#register_selection
        %option{:value=>"1 Player",:selected=>true} 1 player for $100
        %option{:value=>"2 Players"} 2 players for $200
        %option{:value=>"3 Players"} 3 players for $300
        %option{:value=>"4 Players"} 4 players for $400
        %option{:value=>"5 Players"} 5 players for $500
        %option{:value=>"6 Players"} 6 players for $600
        %option{:value=>"7 Players"} 7 players for $700
        %option{:value=>"8 Players"} 8 players for $800
        %option{:value=>"9 Players"} 9 players for $900
        %option{:value=>"10 Players"} 10 players for $1,000

    #sponsor-form.join-form.col-md-12.hidden-form
      .radio
        %label
          %input#optionsRadio1{:type=>"radio",:name=>"sponsor_selection",:value=>"1 Hole",:checked=>true}
            Hole: $200
      .radio
        %label
          %input#optionsRadio2{:type=>"radio",:name=>"sponsor_selection",:value=>"Par (1 foursome & 1 hole)"}
            Par: $500 (1 foursome and 1 Hole Sponsor)
      .radio
        %label
          %input#optionsRadio3{:type=>"radio",:name=>"sponsor_selection",:value=>"Birdie (1 foursome & 2 holes)"}
            Birdie: $600 (1 foursome and 2 Hole Sponsor)
      .radio
        %label
          %input#optionsRadio4{:type=>"radio",:name=>"sponsor_selection",:value=>"Eagle (1 foursome, 2 holes, and banner/site logos)"}
            Eagle: $750 (1 foursome, 2 Hole Sponsors, and logo and name on banner and website.)
      .radio
        %label
          %input#optionsRadio5{:type=>"radio",:name=>"sponsor_selection",:value=>"Hole in One (2 foursomes, 2 holes, and banner/site logos)"}
            Hole in One (Key event sponsor) : $2,000 (2 foursomes, 2 Hole Sponsors and logo and name on banner and website.)

    #lunch-form.join-form.col-md-12.hidden-form
      %select.form-control.input-xlarge#lunch_selection
        %option{:value=>"1 Lunch",:selected=>true} 1 lunch for $25
        %option{:value=>"2 Lunches"} 2 lunches for $50
        %option{:value=>"3 Lunches"} 3 lunches for $75
        %option{:value=>"4 Lunches"} 4 lunches for $100
        %option{:value=>"5 Lunches"} 5 lunches for $125
        %option{:value=>"6 Lunches"} 6 lunches for $150
        %option{:value=>"7 Lunches"} 7 lunches for $175
        %option{:value=>"8 Lunches"} 8 lunches for $200
        %option{:value=>"9 Lunches"} 9 lunches for $225
        %option{:value=>"10 Lunches"} 10 lunches for $250
    .col-md-12#name-block{style: "margin-top:10px"}
      %label.control-label
        Name:
      .col-md-12{style: "padding-left:0"}
        %input.input-xlarge.form-control#visitor-name{onkeyup:"validateName()"}
    .col-md-12#email-block{style: "margin-top:10px"}
      %label.control-label
        Email:
      .col-md-12{style: "padding-left:0"}
        %input.input-xlarge.form-control#visitor-email{onkeyup:"validateEmail()"}
    .col-sm-12
      %button.btn.btn-lg.btn-primary#joinButton{:type=>"button",:onclick=>"joinUp();"}
        Looks Good to Me!

  .right.col-sm-6
    .col-sm-8.col-sm-offset-4.well#payment-options
      .col-md-12
        %strong
          Paying By Check?
      .col-md-12
        1st Bank
      .col-md-12
        PO Box 507
      .col-md-12
        Arvada, CO 80001
      .col-md-12
        &nbsp;
      .col-md-12
        %strong
          Make checks out to:
      .col-md-12
        Karen Sue Benefit Fund 
      .col-md-12
        &nbsp;
      .col-md-12
        %strong
          Deadline:
      .col-md-12
        August 16, 2014 

#registration.row.hide
  #lunch.col-md-12
    Joining us for lunch $25
  #prizes.col-md-12
    Donating prizes for raffle/silent auction
  #donations.col-md-12
    Making a Donation
  #deadline.col-md-12
    %strong
      Deadline: August 16, 2014

#sponsorship.row.hide
  .col-md-12
    %strong
      Sponsorship Levels
  #par.col-md-12
    Par: $500 (1 foursome and 1 Hole Sponsor)
  #birdie.col-md-12
    Birdie: $600 (1 foursome and 2 Hole Sponsor)
  #eagle.col-md-12
    Eagle: $750 (1 foursome, 2 Hole Sponsors, and logo and name on banner and website.)
  #hole-in-one.col-md-12
    Hole in One (Key event sponsor) : $2,000 (2 foursomes, 2 Hole Sponsors and logo and name on banner and website.)


#paypal-row.row.hide
  %form.col-md-12.border#paypal-form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
    %input{type: "hidden", name: "cmd", value: "_s-xclick"}
    %input{type: "hidden", name: "currency_code", value: "USD"}
    %input#paypal-button-id{type: "hidden", name: "hosted_button_id"}
    %input#paypal-name-id{type: "hidden", name: "on0"}
    %input#paypal-value-id{type: "hidden", name: "os0"}