.row{:style=>"min-height:280px;"}
  .col-md-12
    How would you like to participate?
  .col-md-12
    .dropdown{:onclick=>"$('.dropdown-toggle').dropdown()"}
      %button.btn.dropdown-toggle#dropdownMenuJoin{:type=>"button",:data=>{:toggle=>"dropdown"}}
        %span.inner-content
          Register to Play
        %span.caret
      %ul.dropdown-menu#ddm-join-type{:role=>"menu",:aria=>{:labelledby=>"dropdownMenuJoin"}}
        %li.active#ddm-join-register{:role=>"presentation"}
          %a{:role=>"menuitem",:tabindex=>"-1",:href=>"#", :onclick=>"selectMenu('register')"} Register to Play
        %li#ddm-join-sponsor{:role=>"presentation"}
          %a{:role=>"menuitem",:tabindex=>"-1",:href=>"#", :onclick=>"selectMenu('sponsor')"} Sponsor a Hole
        -#%li{:role=>"divider"}
        %li#ddm-join-lunch{:role=>"presentation"}
          %a{:role=>"menuitem",:tabindex=>"-1",:href=>"#", :onclick=>"selectMenu('lunch')"} Join us for Lunch


#registration.row.hide
  #register.col-md-12
    Registering to Play &mdash; $100 per player
  #sponsor.col-md-12
    Sponsoring a Hole &mdash; Starting at $200 per hole
  #lunch.col-md-12
    Joining us for lunch $25
  #prizes.col-md-12
    Donating prizes for raffle/silent auction
  #donations.col-md-12
    Making a Donation
  #deadline.col-md-12
    %strong
      Deadline: August 16, 2014

#sponsorship.row.hide
  .col-md-12
    %strong
      Sponsorship Levels
  #par.col-md-12
    Par: $500 (1 foursome and 1 Hole Sponsor)
  #birdie.col-md-12
    Birdie: $600 (1 foursome and 2 Hole Sponsor)
  #eagle.col-md-12
    Eagle: $750 (1 foursome, 2 Hole Sponsors, and logo and name on banner and website.)
  #hole-in-one.col-md-12
    Hole in One (Key event sponsor) : $2,000 (2 foursomes, 2 Hole Sponsors and logo and name on banner and website.)
