<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Caring for Karen Sue</title>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='/css/site.css' rel='stylesheet'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script src='/js/site.js'></script>
  </head>
  <body>
    <div id='page-header'>
      <header>
        <div class='container'>
          <h1>
            Caring for Karen <span class='small'>10<sup>th</sup> Annual Golf Classic </span>
          </h1>
        </div>
      </header>
    </div>
    <navigation>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <ul class='nav nav-tabs'>
              <li class='<%= @homeTab || '' %>'>
                <a href='/'>Home</a>
              </li>
              <li class='<%= @joinTab || '' %>'>
                <a href='/join'>Join Us</a>
              </li>
              <li class='<%= @aboutTab || '' %>'>
                <a href='/about'>About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </navigation>
    <div class='container main-body'>
      <%= yield %>
    </div>
    <footer>
      <div class='container text-muted'>
        In honor of Karen Danielson &ndash; All proceeds go to the
        <a href='https://www.therightstepinc.org' target='_blank' title='The Right Step, Inc.'>The Right Step, Inc.</a>
      </div>
    </footer>
  </body>
</html>
