!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Caring for Karen Sue
    %link{ :rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" }
    %link{ :rel => "stylesheet", :href => "css/site.css" } 
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
  %body
    %header
      .container
        %h1
          Caring for Karen 5th Annual Golf Classic 2014

    %navigation
      .container
        .row
          .col-md-12
            %ul.nav.nav-tabs
              %li{class:@homeTab && "active"}
                %a{ :href => "/" } Home
              %li{class:@sponsorTab && "active"}
                %a{ :href => "/sponsors" } Sponsors
              %li{class:@aboutTab && "active"}
                %a{ :href => "/about" } About

    .container
      = yield

    %footer
      .container.text-muted
        Remembering Our Awesome Mother in 2014