.row
  %p.col-md-12
    We couldn't make this event happen without our sponsors.

  .col-md-5.col-xs-12.well.sponsor
    %a{:href=>"http://www.applewoodgc.com/",:target=>"_blank"}
      %img.pull-left.media-object{:src => "images/sponsor-applewood-logo.png", :alt => "Applewood Golf Course", :width=>"180", :height=> "85" }
    %strong.center
      %a{:href=>"http://www.applewoodgc.com/",:target=>"_blank"}
        Applewood Golf Course
  .col-md-5.col-xs-12.col-md-offset-2.well.sponsor
    %a{:href=>"http://www.vistaapplewood.com/",:target=>"_blank"}
      %img.pull-left.media-object{:src => "images/sponsor-vista-logo.png", :alt => "Applewood Golf Course", :height=> "85" }
    %strong.pull-right
      %a{:href=>"http://www.vistaapplewood.com/",:target=>"_blank"}
        The Vista at Applewood Golf Course
  .clear-fix.visible-md