/*site css*/
p {
  margin-bottom: 16px;
}
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
#golf-course {
	/*rounded corners div?*/
	color: #ffffff;
	background-color: #3276B1;
}
#golf-course a {
	color: #ffffff;
	text-decoration: underline;
}
#payment-options {
	/*rounded corners div?*/
	color: #ffffff;
	background-color: #3276B1;
	text-align: left;
}
#payment-options a {
	color: #ffffff;
	text-decoration: underline;
}
.margin-top {
	margin-top: 10px;
}
h1 {
	font-size: 36px;
	font-weight: bold;
}
h1 .small {
	color: #42a7b9;
}
#page-header {
	background-color: #18304c;
  color: #ffffff; /*#42a7b9;*/
}
.hidden-form { display: none; }
.input-mini { width: 60px; }
.input-small { width: 90px; }
.input-medium { width: 150px; }
.input-large { width: 210px; }
.input-xlarge { width: 260px; }
.input-xxlarge { width: 330px; }
#dropdownMenuJoin {
	background-color: #c5e2e5; /*transparent;*/
}
.radio, .checkbox {
	max-width: 400px;
}

#joinButton {
	margin:20px auto;
	display:block;
}
@media(min-width: 400px){
	#joinButton {
		float: left;
		margin: 20px 0;
	}
}
.border {
	border: 1px #000000 solid;
}
.standard {
	padding:6px;
}
.bg-danger, .bg-success {
	padding:6px;
}
.control-label {
	font-weight: normal;
}
.sponsor-light {
	background-color: #c5e2e5;
}
.sponsor-white {
	background-color: #ffffff;
}
.left {
	float:left;
}
.right {
	float:right;
}