/*site css*/
p {
  margin-top: 5px;
}
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
#header {
	color: #18304c;
}
#golf-course {
	/*rounded corners div?*/
	color: #ffffff;
	background-color: #3276B1;
}
#golf-course a {
	color: #ffffff;
	text-decoration: underline;
}
.margin-top {
	margin-top: 10px;
}
