/*site css*/
p {
  margin-bottom: 16px;
}
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
#golf-course {
	/*rounded corners div?*/
	color: #ffffff;
	background-color: #3276B1;
}
#golf-course a {
	color: #ffffff;
	text-decoration: underline;
}
.margin-top {
	margin-top: 10px;
}
h1 {
	font-size: 36px;
	font-weight: bold;
}
#page-header {
	background-color: #18304c;
  color: #ffffff; /*#42a7b9;*/
}